<nav class="container navbar d-flex justify-content-between" *ngIf="userInfo">
    <div class="logo">
        <img src="../../../assets/img/tweeter.svg" alt="tweeter">
    </div>
    <div>
        <ul class="nav-items">
            <li class="item"><a [routerLink]="['/home']">Home</a></li>
            <li class="item">Explore</li>
            <li class="item">Bookmarks</li>
        </ul>
    </div>
    <div class="mini-profile d-flex align-items-center">
        <img src="{{userInfo.userProfile.photo || '../../../assets/img/default.jpg'}}"
                class="img-fluid avatar mr-3" alt="person">
        <div>{{userInfo.userName}} <i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
</nav>