<navbar (onGetCurrentUser)="onGetCurrentUser($event)"></navbar>
<div class="container" *ngIf="currentUserInfo">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Personal info</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <span class="info">Basic info, like your name and photo</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card w-75 m-auto">
                <div class="list-group">
                    <div class="profile-head d-flex justify-content-between p-4">
                        <div class="title">
                            <h3 class="mb-0">Profile</h3>
                            <div>Some info may be visible to other people</div>
                        </div>
                        <div class="edit-btn" (click)="editUserProfile()">Edit</div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="profile-body d-flex p-4 w-100">
                        <div class="title d-flex align-items-center w-30">
                           <h4 class="mb-0">PHOTO</h4>
                        </div>
                        <div class="data w-70">
                            <img src="{{currentUserInfo.userProfile.photo || ''}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="profile-body d-flex p-4 w-100">
                        <div class="title d-flex align-items-center w-30">
                           <h4 class="mb-0">FULLNAME</h4>
                        </div>
                        <div class="data w-70">
                            <h5>{{currentUserInfo.userProfile.fullName}}</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="profile-body d-flex p-4 w-100">
                        <div class="title d-flex align-items-center w-30">
                           <h4 class="mb-0">BIO</h4>
                        </div>
                        <div class="data w-70">
                            <h5>{{currentUserInfo.userProfile.bio}}</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="profile-body d-flex p-4 w-100">
                        <div class="title d-flex align-items-center w-30">
                           <h4 class="mb-0">PHONE</h4>
                        </div>
                        <div class="data w-70">
                            <h5>{{currentUserInfo.userProfile.phone}}</h5>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="profile-body d-flex p-4 w-100">
                        <div class="title d-flex align-items-center w-30">
                           <h4 class="mb-0">EMAIL</h4>
                        </div>
                        <div class="data w-70">
                            <h5>{{currentUserInfo.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 mb-4">
            <!-- <h1 class="text-center"><a href="#">join to the Tweet!</a></h1> -->
        </div>
    </div>
</div>