<navbar (onGetCurrentUser)="onGetCurrentUser($event)"></navbar>
<main class="main" *ngIf="currentUserInfo">
    <div class="container w-75">
        <div class="row pt-4 pb-4">
            <div class="col-9">
                <div class="tweet-smth">
                    <div class="head">
                        Tweet something
                    </div>
                    <hr>
                    <form class="body" [formGroup]="tweetForm" (ngSubmit)="submit()">
                        <div class="new-tweet-description d-flex">
                            <img src="../../../assets/img/default.jpg" class="img-fluid avatar mr-3" alt="person">
                            <textarea name="description" placeholder="What’s happening?" class="form-control"
                                formControlName="description"></textarea>
                        </div>
                        <div class="tweet-submition d-flex justify-content-between mt-3">
                            <div class="d-flex align-items-center text-primary">
                                <div class="image-upload">
                                    <label for="file-input">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </label>
                                    <input #file id="file-input" type="file" (change)="getFile(file)" />
                                </div>
                                <div class="can-replay p-3 pt-0 pr-0 pb-0" (click)="isOpen = !isOpen;">
                                    <i class="fa fa-globe" aria-hidden="true"></i> {{model.isEveryoneMode ? 'Everyone' : 'People you follow'}} can reply
                                </div>
                                <div class="tweet-mode" *ngIf="isOpen">
                                    <h5>Who can reply?</h5>
                                    <span>Choose who can reply to this Tweet.</span>
                                    <div class="tweetMode mt-2">
                                        <div class="p-2" (click)="model.isEveryoneMode = true; isOpen = false;"><i class="fa fa-globe" aria-hidden="true"></i> Everyone</div>
                                        <div class="p-2" (click)="model.isEveryoneMode = false; isOpen = false;"><i class="fa fa-users" aria-hidden="true"></i> People you follow</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="!tweetForm.valid"
                                class="btn btn-primary p-4 pb-1 pt-1">Tweet</button>
                        </div>
                    </form>
                </div>
                <tweets [userProfileId]="currentUserInfo.userProfile.id"></tweets>
            </div>
            <div class="col-3">
                ewqeqweqw
            </div>
        </div>
    </div>
</main>