<navbar></navbar>
<main class="main">
    <div class="container w-75">
        <div class="row pt-4">
            <div class="col-9">
                <div class="tweet-smth">
                    <div class="head">
                        Tweet something
                    </div>
                    <hr>
                    <div class="body">
                        <div class="new-tweet-description d-flex">
                            <img src="https://s3-alpha-sig.figma.com/img/1035/123a/bbcc8da69647a2c109cee000d9cda98f?Expires=1622419200&Signature=QutVyG3BYVP7QV~Nzh7WrEaOxUugFYUSiSpQvECR4XRXAqWzQCiahKbHTcW90q2iYFobcU2~T4Fbj1ZmmraXDPraYiiSwsh~qMir-vJy3Vz24saSLXwCgKdukgRELVo9CMb0UGo57m4Xx-aURTPpKg9sia08F-kuzNxKaXiO7jJtvIfd0jmigMH23uzcq2ejcZ3u3BIfsQxahjG2jh~SFlQyhrpRYVunDrIc9WW8iDX3Cd0K7U6PmQtkVV5xAfRfOKBkqmTj9rnXXQEV~pY~yaG4jzil1HNtbru1uEnnffsoVnekmkX65uaWNt8HrL-O0lOyHWEv2xnuyyLSLIX9rw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                                class="img-fluid avatar mr-3" alt="person">
                            <textarea name="tweet" placeholder="What’s happening?" class="form-control"></textarea>
                        </div>
                        <div class="tweet-submition d-flex justify-content-between mt-3">
                            <div class="d-flex align-items-center text-primary">
                                <div class="">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <div class="p-3 pt-0 pr-0 pb-0">
                                    <i class="fa fa-globe" aria-hidden="true"></i> Everyone can reply
                                </div>
                            </div>
                            <button class="btn btn-primary p-4 pb-1 pt-1">Tweet</button>
                        </div>
                    </div>
                </div>
                <tweets></tweets>
            </div>
            <div class="col-3">
                ewqeqweqw
            </div>
        </div>
    </div>
</main>