<div class="tweets p-3 mt-4">
    <div class="who-tweets d-flex align-items-center">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/5e0e/8d47/498741548cb5ed1dc33ed9cb80dd8860?Expires=1622419200&Signature=Mw2LsZw1gDpz3a1U1qQpX88p3ZiGtZjF~j8tydqMVPzT1icgZHDxFrHk8lrF6Tl5JB3y0MPpkVWW3MBvbqIMAQAuABg9tmxIWrqYs1MvwvjpeL5LaC~v-Aygb62P3FN1RHE3o6KNreFg-R7iDxZGTJsPiw1ckMxw8njejFEEldxvQE47RuhSsrqgJP3nqOizY2ifnSL1RnjmtSaoWpGnxXV3wFwUkQ8D7R0Txn9U1xlwnpvVG0U2IhWXdXYCZC86IiQ1KmNzDXlS-xRTsJaTORCq7ldsB0vf0Nobo3gpWYoac1Z4VZe2sxu8CfkxvOSiQX22rYlMqISdZa6Di3zyGg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                class="img-fluid avatar mr-3" alt="person">
        </div>
        <div>
            <h3 class="who-tweet">Peyton Lyons</h3>
            <div class="tweet-date">24 August at 20:43</div>
        </div>
    </div>
    <div class="tweet-description mt-3">
        <p>Traveling – it leaves you speechless, then turns you into a storyteller.</p>
    </div>
    <div class="tweet-info d-flex justify-content-end">
        <div class="mr-3">449 Comments</div>
        <div class="mr-3">59k Retweets</div>
        <div class="mr-3">234 Likes</div>
        <div>234 Saved</div>
    </div>
    <hr>
    <div class="tweet-actions d-flex justify-content-around">
        <div class="action action-comment">
            <i class="fa fa-comment-o" aria-hidden="true"></i> Comments
        </div>
        <div class="action action-retweet">
            <i class="fa fa-retweet" aria-hidden="true"></i> Retweets
        </div>
        <div class="action action-like">
            <i class="fa fa-heart-o" aria-hidden="true"></i> Like
        </div>
        <div class="action action-saved">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i> Saved
        </div>
    </div>
    <hr>
    <comments></comments>
</div>