<div class="mt-5">
    <div class="tweets p-3 mt-4" *ngFor="let tweet of tweets">
        <div class="who-tweets d-flex align-items-center">
            <div>
                <img src="../../../assets/img/default.jpg" class="img-fluid avatar mr-3" alt="person">
            </div>
            <div>
                <h3 class="who-tweet">{{tweet.userName}}</h3>
                <div class="tweet-date">24 August at 20:43</div>
            </div>
        </div>
        <div class="tweet-description mt-3">
            <p>{{tweet.description}}</p>
            <div class="w-100">
                <img *ngIf="tweet.photo" class="w-100 h-auto" src="{{tweet.photo}}">
            </div>
        </div>
        <div class="tweet-info d-flex justify-content-end">
            <div class="mr-3">449 Comments</div>
            <div class="mr-3">59k Retweets</div>
            <div class="mr-3">{{tweet.likes}} Likes</div>
            <div>234 Saved</div>
        </div>
        <hr>
        <div class="tweet-actions d-flex justify-content-around">
            <div class="action action-comment">
                <i class="fa fa-comment-o" aria-hidden="true"></i> Comments
            </div>
            <div class="action action-retweet">
                <i class="fa fa-retweet" aria-hidden="true"></i> Retweets
            </div>
            <div class="action action-like" [class.text-danger]="tweet.isLiked" (click)="toggleLike(tweet)">
                <i class="fa fa-heart-o" aria-hidden="true"></i> Like
            </div>
            <div class="action action-saved">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i> Saved
            </div>
        </div>
        <hr>
        <comments></comments>
    </div>
</div>