/* You can add global styles to this file, and also import other style files */

*, body {
    font-family: 'Noto Sans', sans-serif;
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/* bootstrap additional classes */

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}


/* login component */

.login-card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 24px;
}

.login-card .logo-container {
    max-width: 50%;
}

.login-card .logo-container img {
    width: 20%;
    height: auto;
}

.login-card .logo-container .logo-content {
    font-size: 14px;
}

.login-card .already-member {
    font-size: 14px;
}